name: CI

on:
  push:
    branches:
      - main
      - release-*
  pull_request:
    branches:
      - "*"

permissions:
  contents: read

env:
  BRANCH: ${{ github.head_ref || github.ref_name }}
  IMAGE_REGISTRY: ghcr.io
  IMAGE_NAME: gkrenn/dynatrace-operator
  PLATFORMS: linux/amd64,linux/arm64
  PR_PLATFORMS: linux/amd64,linux/arm64

jobs:
  build-push:
    name: Build images
    runs-on: ubuntu-24.04
    permissions:
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Login to Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ env.IMAGE_REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build image
        uses: ./.github/actions/build-push-image
        with:
          platforms: ${{github.ref_protected && env.PLATFORMS || env.PR_PLATFORMS }}
          images: ${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_NAME }}
