name: CI

on:
  push:
    branches:
      - main
      - release-*
  pull_request:
    branches:
      - "*"

permissions:
  contents: read

env:
  BRANCH: ${{ github.head_ref || github.ref_name }}
  DOCKER_REGISTRY: quay.io
  DOCKER_REPOSITORY: dynatrace/dynatrace-operator
  PLATFORMS: linux/amd64,linux/arm64,linux/ppc64le,linux/s390x
  PR_PLATFORMS: linux/amd64,linux/arm64

jobs:
  detect-changes:
    name: Detect Changes
    runs-on: ubuntu-24.04
    outputs:
      go_changed: ${{ steps.go-files.outputs.any_changed == 'true' && 'true' || '' }}
      docker_changed: ${{ steps.dockerfile.outputs.any_changed == 'true' && 'true' || '' }}
      helm_changed: ${{ steps.helm.outputs.any_changed == 'true' && 'true' || '' }}
      prerequisites_changed: ${{ steps.prerequisites.outputs.any_changed == 'true' && 'true' || '' }}
      ci_changed: ${{ steps.ci.outputs.any_changed == 'true' && 'true' || '' }}
      is_protected_branch: ${{ steps.is-protected-branch.outputs.is_protected_branch == 'true' && 'true' || '' }}
      is_snyk_authorized: ${{ steps.is-snyk-authorized.outputs.is_authorized == 'true' && 'true' || '' }}
      is_docker_authorized: ${{ steps.is-docker-authorized.outputs.is_authorized == 'true' && 'true' || '' }}
      markdown_changed: ${{ steps.markdown.outputs.any_changed == 'true' && 'true' || '' }}
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 2
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
      - name: Check if it is a protected branch
        id: is-protected-branch
        run: |
          if [[ "$GITHUB_REF" == "refs/heads/main" || "$GITHUB_REF" == refs/heads/release-* ]]; then
            echo "is_protected_branch=true" >> "$GITHUB_OUTPUT"
          else
            echo "is_protected_branch=false" >> "$GITHUB_OUTPUT"
          fi
      - name: Check if synk credentials are present
        id: is-snyk-authorized
        run: |
          echo "is_authorized=${{ secrets.SNYK_API_TOKEN != '' }}" >> $GITHUB_OUTPUT
      - name: Check if docker credentials are present
        id: is-docker-authorized
        run: |
          echo "is_authorized=${{ secrets.QUAY_USERNAME != '' && secrets.QUAY_PASSWORD != '' }}" >> $GITHUB_OUTPUT
      - name: Detect CI file changes
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
        id: ci
        with:
          files: |
            .github/workflows/**
            .github/actions/**
          base_sha: ${{ github.event_name == 'pull_request' && 'HEAD^' || github.event.before }}
      - name: Detect Go file changes
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
        id: go-files
        with:
          files: |
            **/*.go
            go.mod
          base_sha: ${{ github.event_name == 'pull_request' && 'HEAD^' || github.event.before }}
      - name: Detect Dockerfile changes
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
        id: dockerfile
        with:
          files: |
            Dockerfile
          base_sha: ${{ github.event_name == 'pull_request' && 'HEAD^' || github.event.before }}
      - name: Detect Helm config changes
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
        id: helm
        with:
          files: |
            config/**
          base_sha: ${{ github.event_name == 'pull_request' && 'HEAD^' || github.event.before }}
      - name: Detect prerequisites.mk changes
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
        id: prerequisites
        with:
          files: |
            hack/make/prerequisites.mk
          base_sha: ${{ github.event_name == 'pull_request' && 'HEAD^' || github.event.before }}
      - name: Detect markdown changes
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
        id: markdown
        with:
          files: |
            **/*.md
          base_sha: ${{ github.event_name == 'pull_request' && 'HEAD^' || github.event.before }}
      - name: List Changed Files
        run: |
          echo "CI changed: ${{ steps.ci.outputs.all_changed_files }}"
          echo "Go changed: ${{ steps.go-files.outputs.all_changed_files }}"
          echo "Dockerfile changed: ${{ steps.dockerfile.outputs.all_changed_files }}"
          echo "Helm changed: ${{ steps.helm.outputs.all_changed_files }}"
          echo "Prerequisites changed: ${{ steps.prerequisites.outputs.all_changed_files }}"
          echo "Markdown changed: ${{ steps.markdown.outputs.all_changed_files }}"

  markdown-lint:
    needs: [detect-changes]
    if: needs.detect-changes.outputs.markdown_changed
    name: Lint markdown files
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Lint markdown files
        id: lint-markdown
        run: |
          make markdown/lint
