name: E2E tests ondemand

on:
  workflow_dispatch:

env:
  branch: feature/gktest3

permissions:
  checks: write

# based on:
# https://docs.dynatrace.com/docs/setup-and-configuration/technology-support/support-model-for-kubernetes
# https://kubernetes.io/releases/
jobs:
  run-matrix:
    name: Run using version/platform
    strategy:
      # we don't want to cancel all in-progress jobs if any matrix job fails.
      fail-fast: false
      max-parallel: 4
      matrix:
        include:
          - version: 1-28
            platform: k8s
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Run e2e test
        id: run_e2e_test
        uses: ./.github/actions/run-e2e
